:host {
  max-width: 100%;
}

input[type='color'] {
  padding: 10px;
  height: 50px;
}

input,
textarea {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  border-radius: 24px;
  font-size: 16px;
  background-color: #e5ebee;
}

label {
  display: flex;
  gap: 6px;

  input {
    width: auto;
  }
}
