<ng-container *ngIf="data$ | async as data">
  <ng-container *ngIf="data.length">
    <app-sort-by
      [options]="sortOptions"
      (selected)="onSortChange($event)"
      [initialSortProperty]="initialSortProperty"
    ></app-sort-by>
    <div class="container">
      <div
        class="card"
        *ngFor="let post of data; trackBy: trackById"
        (click)="loadCommunityAndNavigate($event, post)"
      >
        <div class="header">
          <div class="header-content">
            <a class="author" [routerLink]="['/u/', post.authorName]">{{ post.authorName }}</a>
            <p>{{ post.date | timeAgo }}</p>
          </div>
        </div>

        <h3 class="title">{{ post.title }}</h3>
        <p class="description">{{ post.description }}</p>

        <div class="footer">
          <div class="upvote">
            <mat-icon> {{ post.upvotes > 0 ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
            {{ post.upvotes }}
          </div>
          <div class="comment">
            <mat-icon>comment</mat-icon>
            {{ post.commentsAmount }}
          </div>
        </div>
      </div>
    </div>
    <app-pagination [lastPage]="lastPage" (pageChange)="onPageChange($event)"></app-pagination>
  </ng-container>
</ng-container>
