<nav>
  <a routerLink="/"><h1>PostHub</h1></a>

  <div>
    <input
      [(ngModel)]="search"
      name="search"
      [class.active]="!!search"
      (ngModelChange)="onSearchChange($event)"
      placeholder="Search PostHub"
      #input
    />
    <div class="dropdown" *ngIf="search">
      <div class="results" *ngIf="searchResults$ | async as results">
        <ng-container *ngIf="results.length; else noResults">
          <a
            class="item"
            *ngFor="let community of results"
            [routerLink]="['/r/', community.name]"
            (click)="resetSearch()"
          >
            r/{{ community.name }}
          </a>
        </ng-container>
      </div>
      <ng-template #noResults>
        <div class="not-found">Nothing Found</div>
      </ng-template>
    </div>
  </div>

  <ng-container *ngIf="user$ | async as user; else noUserTemplate">
    <div class="user-container">
      <h2>
        {{ user.name }}
      </h2>
      <button type="button" class="action" (click)="onLogOut()">Log Out</button>
    </div>
  </ng-container>
</nav>

<ng-template #noUserTemplate>
  <button type="button" class="action" (click)="onLogIn()">Log In / Sign Up</button>
  <app-sign-up-modal></app-sign-up-modal>
  <app-log-in-modal></app-log-in-modal>
</ng-template>
