table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  text-align: left;
  padding: 10px;
  border: 1px solid #ccc;
  transition: background-color 0.3s;
}

thead {
  background-color: #f8f8f8;
}

th {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  position: relative;
}

th:hover {
  background-color: #f8f8f8;
  color: black;
}

th span {
  margin-left: 5px;
}

th span span {
  display: inline-block;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #e0e0e0;
}
