:host {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  position: relative;
}

.header-container {
  display: flex;
  gap: 10px;
  p {
    margin: 0;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  text-align: left;
  padding: 10px;
  border: 1px solid #ccc;
  transition: background-color 0.3s;
}

thead {
  background-color: #f8f8f8;
}

th {
  font-size: 16px;
  color: white;
  background-color: #d93900;
  border-color: #d93900;

  &:hover {
    background-color: #8f3717cf;
  }

  &:disabled {
    background-color: #f2f2f2;
    color: #c9d7de;
  }

  cursor: pointer;
  position: relative;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

.reset-btn {
  position: absolute;
  cursor: pointer;
  right: 10px;
  color: #ff0000;
  top: 0;
  bottom: 0;
  padding: 0;
  border: 0;
  background-color: transparent;

  &:hover {
    scale: 1.2;
  }
  transition: 300ms;
}

.sort-icon {
  font-size: 18px;
}

.no-data {
  text-align: center;
}
