<app-sort-by [options]="sortOptions" (selected)="onSortChange($event)"></app-sort-by>
<div class="cards-container">
  <div class="card" *ngFor="let post of data$ | async">
    <div class="card-header">
      <p>{{ post.authorName }}</p>
      <p>{{ post.date }}</p>
    </div>

    <p>{{ post.title }}</p>
    <p>{{ post.description }}</p>

    <div class="card-footer">
      <div>
        {{ post.upvotes > 1 ? '&uparrow;' : '&downarrow;' }}
        {{ post.upvotes }}
      </div>
    </div>
  </div>
</div>
<app-pagination [lastPage]="lastPage" (pageChange)="onPageChange($event)"></app-pagination>
