:host {
  display: none;
}

.sign-up-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  .google-btn {
    gap: 10px;
    border-radius: 999px;
  }

  button {
    border-radius: 999px;
  }

  h2 {
    margin-right: auto;
    margin-bottom: 0;
    font-size: 24px;
  }

  form {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .form-group {
    div {
      display: block;
      margin-right: 10px;
    }

    label {
      display: flex;
      gap: 10px;
    }

    input[type='checkbox'] {
      margin: 0;
    }
  }

  .error {
    transition: opacity 0.5s ease-in-out;
    color: red;
  }

  .login-container {
    display: flex;
    gap: 10px;
    align-items: flex-start;

    .switch-btn {
      background-color: transparent;
      color: #0000ff;
      padding: 0;
      border: 0;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .separator-container {
    display: flex;
    text-align: center;

    &::after,
    &::before {
      content: '';
      align-self: center;
      width: 100%;
      height: 1px;
      background-color: #0003;
    }

    .separator {
      padding: 0 8px;
    }
  }
}
