.comment {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6px;
  border: 1px thin #0003;
  padding: 6px;
  border-radius: 8px;

  a {
    font-weight: 700;
  }

  .comment-header {
    display: flex;
    gap: 10px;
  }

  button {
    position: absolute;
    right: 20px;
    border-radius: 20px;
  }
}
