<app-modal id="community-not-found" [customOnClose]="redirectToMainPage.bind(this)">
  <p>
    There aren’t any communities with that name. Double-check the community name or try searching
    for similar communities.
  </p>
</app-modal>

<ng-container class="page-container" *ngIf="communityData; else spinnerTemplate">
  <div class="header-color" [style.background-color]="communityData.backgroundColor"></div>
  <div>
    <div class="header-container">
      <div class="data-container">
        <h1>r/{{ communityData.name }}</h1>
        <h2>Members {{ communityData.joinedAmount }}</h2>
      </div>

      <div *ngIf="user$ | async as user" class="buttons-container">
        <button
          *ngIf="!user.joinedCommunitiesId.includes(communityData.id)"
          type="button"
          (click)="onJoinCommunity(user)"
        >
          Join Community
        </button>
        <button
          *ngIf="user.joinedCommunitiesId.includes(communityData.id)"
          type="button"
          (click)="onLeaveCommunity(user)"
        >
          Leave Community
        </button>
        <button type="button" (click)="onCreatePost()">Create post</button>
        <ng-container
          *ngIf="communityData.ownerId === user.id || communityData.moderatorsIds.includes(user.id)"
        >
          <button type="button" (click)="onEditCommunity()">Edit</button>
        </ng-container>
      </div>
    </div>
  </div>

  <app-view-switcher></app-view-switcher>
  <ng-container *ngIf="posts | async as data; else spinnerTemplate">
    <ng-container [ngSwitch]="viewMode$ | async">
      <app-post-cards *ngSwitchCase="0" [initialData]="data"></app-post-cards>
      <app-table *ngSwitchCase="1" [headers]="headers" [initialData]="data"></app-table>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #spinnerTemplate>
  <div>Spinner</div>
</ng-template>
