<app-not-found-modal
  text="There aren’t any posts with that id. Double-check the post id or try searching
      for similar posts."
></app-not-found-modal>
<ng-container *ngIf="community$ | async as community">
  <ng-container *ngIf="post$ | async as post">
    <app-edit-post-modal [post]="post"></app-edit-post-modal>
    <div class="header">
      <div class="header-flex">
        <a [routerLink]="['/r/', community.name]">r/{{ community.name }}</a>
        <p>{{ post.date | timeAgo }}</p>
      </div>
      <a class="author-name" [routerLink]="['/u/', post.authorName]">{{ post.authorName }}</a>
    </div>

    <div class="container">
      <h2>{{ post.title }}</h2>

      <p>{{ post.description }}</p>

      <div class="footer">
        <app-upvote [post]="post"></app-upvote>
        <div class="comment-amount">
          <mat-icon>comment</mat-icon>
          {{ post.commentsAmount }}
        </div>
      </div>

      <div class="add-comment">
        <ng-container *ngIf="user$ | async as user; else nonAuthorized">
          <input placeholder="Comment" [(ngModel)]="comment" name="comment" />
          <button
            type="button"
            (click)="onAddComment(user.name, post)"
            [disabled]="!comment.length"
          >
            <mat-icon>add</mat-icon> Add comment
          </button>
          <ng-container *ngIf="checkUserAccess(user, post, community)">
            <button (click)="onEdit()">Edit</button>
            <button (click)="onDelete(post.id, community.name)">Delete</button>
          </ng-container>
        </ng-container>
      </div>

      <div class="comments-container">
        <ng-container *ngIf="comments$ | async as comments">
          <ng-container *ngIf="user$ | async as user; else noUserComments">
            <app-comment
              *ngFor="let comment of comments"
              [comment]="comment"
              [canDeleteComment]="canDeleteComment(user, post, community, comment)"
              (delete)="onRemoveComment($event, post)"
            ></app-comment>
          </ng-container>

          <ng-template #noUserComments>
            <app-comment
              *ngFor="let comment of comments"
              [comment]="comment"
              [canDeleteComment]="false"
              (delete)="onRemoveComment($event, post)"
            ></app-comment>
          </ng-template>
        </ng-container>
      </div>
    </div>

    <ng-container *ngIf="user$ | async as user">
      <ng-container *ngIf="checkUserAccess(user, post, community)">
        <chart echarts [options]="returnCharts(post)"></chart>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #nonAuthorized>
  <input placeholder="Comment" disabled />
  <button type="button" (click)="onNonAuthorized()"><mat-icon>add</mat-icon> Add comment</button>
</ng-template>
