:host {
  padding: 16px;
  border-right: 1px thin #0003;
}

nav {
  display: flex;
  gap: 10px;
  flex-direction: column;

  .add-community,
  a {
    display: flex;
    gap: 6px;
    padding: 6px;
    border-radius: 8px;

    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition:
      background-color 0.3s,
      color 0.3s;
    background-color: white;

    &:hover {
      background-color: #f6f8f9;
    }
  }
}

.links {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

hr {
  width: 100%;
  border: 1px thin #0003;
}

h2 {
  font-size: 12px;
  color: #576f76;
  margin-left: 20px;
  margin-bottom: 0;
}

.add-community {
  width: 100%;
  justify-content: flex-start;
  border: 0;
}
