:host {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  display: flex;
  flex-direction: column;

  h2,
  p {
    margin: 0;
  }
}

.user-info {
  padding-left: 20px;
}

.links {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

a {
  display: flex;
  gap: 6px;
  padding: 6px;
  border-radius: 8px;

  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
  background-color: white;

  &.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
  }

  &:hover {
    background-color: #e0e0e0;
  }
}
