:host {
  display: none;
}

.create-post-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  h2 {
    margin-right: auto;
    margin-bottom: 0;
  }

  form {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .form-group {
    div {
      display: block;
      margin-right: 10px;
    }

    label {
      display: flex;
      gap: 10px;
    }

    input[type='checkbox'] {
      margin: 0;
    }
  }

  .error {
    transition: opacity 0.5s ease-in-out;
    color: red;
  }
}

.action {
  border-radius: 999px;
}
